@using Ratatouille.Models
@inject NavigationManager Navigation

@code {
    [Parameter]
    public Recipe Recipe { get; set; } = default!;

    void NavigateToDetails()
    {
        Navigation.NavigateTo($"recipes/details?id={Recipe.Id}");
    }
}

<div class="col">
    <div class="recipe-card h-100" @onclick="NavigateToDetails">
        <img src="@Recipe.ImageURL" class="recipe-card-img" alt="@Recipe.Title" />
        <div class="recipe-card-body">
            <div class="recipe-card-title">@Recipe.Title</div>
            <div class="recipe-card-text">@Recipe.Description</div>
        </div>
    </div>
</div>
