@page "/"

<PageTitle>Ratatouille</PageTitle>

<h1>Ratatouille</h1>

Ratatouille è una web application sviluppata con Blazor che permette agli utenti registrati di condividere, modificare e visualizzare ricette di cucina in maniera semplice e intuitiva.