@page "/recipes/create"
@using Microsoft.EntityFrameworkCore
@using Ratatouille.Models
@inject IDbContextFactory<Ratatouille.Data.RatatouilleContext> DbFactory
@inject NavigationManager NavigationManager

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />

<PageTitle>Crea Ricetta</PageTitle>

<div class="create-main">
    <div class="create-title-row">
        <div class="create-title">Crea Ricetta</div>
        <a href="/recipes" class="create-back-btn" title="Indietro">
            <i class="fa-solid fa-arrow-left"></i>
        </a>
    </div>
    <EditForm method="post" Model="Recipe" OnValidSubmit="AddRecipe" FormName="create" Enhance>
        <DataAnnotationsValidator />
        <ValidationSummary class="text-danger" role="alert"/>
        <div>
            <label for="title" class="create-label">Titolo</label>
            <InputText id="title" @bind-Value="Recipe.Title" class="create-input" />
            <ValidationMessage For="() => Recipe.Title" class="text-danger" />
        </div>
        <div>
            <label for="description" class="create-label">Descrizione</label>
            <InputText id="description" @bind-Value="Recipe.Description" class="create-input" />
            <ValidationMessage For="() => Recipe.Description" class="text-danger" />
        </div>
        <div>
            <label for="ingredients" class="create-label">Ingredienti</label>
            <InputText id="ingredients" @bind-Value="Recipe.Ingredients" class="create-input" />
            <ValidationMessage For="() => Recipe.Ingredients" class="text-danger" />
        </div>
        <div>
            <label for="imageurl" class="create-label">URL Immagine</label>
            <InputText id="imageurl" @bind-Value="Recipe.ImageURL" class="create-input" />
            <ValidationMessage For="() => Recipe.ImageURL" class="text-danger" />
        </div>
        <button type="submit" class="create-btn">
            <i class="fa-solid fa-plus"></i> Crea
        </button>
    </EditForm>
</div>

@code {
    [SupplyParameterFromForm]
    private Recipe Recipe { get; set; } = new();

    private async Task AddRecipe()
    {
        using var context = DbFactory.CreateDbContext();
        context.Recipe.Add(Recipe);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/recipes");
    }
}
