@page "/recipes/edit"
@using Microsoft.EntityFrameworkCore
@using Ratatouille.Models
@inject IDbContextFactory<Ratatouille.Data.RatatouilleContext> DbFactory
@inject NavigationManager NavigationManager

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />

<PageTitle>Modifica Ricetta</PageTitle>

@if (Recipe is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="back-btn-wrapper">
        <a href="/recipes" class="back-btn" title="Indietro">
            <i class="fa-solid fa-arrow-left"></i>
        </a>
    </div>
    <div class="edit-main">
        <div class="edit-title-row">
            <div class="edit-title">Modifica Ricetta</div>
        </div>
        <EditForm method="post" Model="Recipe" OnValidSubmit="UpdateRecipe" FormName="edit" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary role="alert"/>
            <input type="hidden" name="Recipe.Id" value="@Recipe.Id" />
            <div>
                <label for="title" class="edit-label">Titolo</label>
                <InputText id="title" @bind-Value="Recipe.Title" class="edit-input" />
                <ValidationMessage For="() => Recipe.Title" class="text-danger" />
            </div>
            <div>
                <label for="description" class="edit-label">Descrizione</label>
                <InputText id="description" @bind-Value="Recipe.Description" class="edit-input" />
                <ValidationMessage For="() => Recipe.Description" class="text-danger" />
            </div>
            <div>
                <label for="ingredients" class="edit-label">Ingredienti</label>
                <InputText id="ingredients" @bind-Value="Recipe.Ingredients" class="edit-input" />
                <ValidationMessage For="() => Recipe.Ingredients" class="text-danger" />
            </div>
            <div>
                <label for="imageurl" class="edit-label">URL Immagine</label>
                <InputText id="imageurl" @bind-Value="Recipe.ImageURL" class="edit-input" />
                <ValidationMessage For="() => Recipe.ImageURL" class="text-danger" />
            </div>
            <button type="submit" class="edit-btn">
                <i class="fa-solid fa-save"></i> Salva
            </button>
        </EditForm>
    </div>
}
@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Recipe? Recipe { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Recipe ??= await context.Recipe.FirstOrDefaultAsync(m => m.Id == Id);

        if (Recipe is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task UpdateRecipe()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Recipe!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!RecipeExists(Recipe!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/recipes");
    }

    private bool RecipeExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Recipe.Any(e => e.Id == id);
    }
}
