@page "/favourites"
@using Microsoft.EntityFrameworkCore
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using Ratatouille.Components
@using Ratatouille.Components.Recipe
@using Ratatouille.Models
@using Ratatouille.Data

<h3>Favourites</h3>

@code {

}
